.container {
    display: block;
    font-size: 0;
}

.item {
    vertical-align: top;
    position: relative;
    display: inline-block;
}

.item--fixed {
    vertical-align: bottom;
    position: relative;
    display: inline-block;
    background-color: rgb(187, 189, 191);
}
